@font-face {
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
src: url(https://static.canva.com/static/webfonts/OpenSans.woff) format('woff');
}
@font-face {
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
src: url(https://static.canva.com/static/webfonts/OpenSans-Bold.woff) format('woff');
}
@font-face {
font-family: 'Open Sans';
font-style: italic;
font-weight: 400;
src: url(https://static.canva.com/static/webfonts/OpenSans-Italic.woff) format('woff');
}
@font-face {
font-family: 'Open Sans';
font-style: italic;
font-weight: 700;
src: url(https://static.canva.com/static/webfonts/OpenSans-BoldItalic.woff) format('woff');
}
