

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id="login-modal-content">
      <div class="modal-header" id="modal-part">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <a href="/users/auth/google_oauth2" class="btn btn-info col-xs-6 col-xs-offset-3 col-s-6 col-s-offset-3 col-md-8 col-md-offset-2" id="login-modal-button" role="button"><i class="fa fa-google-plus-square" aria-hidden="true"></i>Sign In With Google</a>
        </div>
      </div>
      <div class="modal-footer" id="modal-part"></div>
    </div>
  </div>
</div>
