

<li id="warrior-<%= warrior.id %>">
    <div class="container-fluid warrior-card col-md-10 col-md-offset-1">
        <!-- <a href="/users/sign_in" class="btn btn-info col-xs-6 col-xs-offset-3 col-s-6 col-s-offset-3 col-md-8 col-md-offset-2" id="login-button" role="button">Get Started</a> -->
        <%= link_to warrior.name, warrior.squad %>
    </div>
</li>
