




<%= render 'layouts/header' %>



<div class="page-title-tron container-fluid col-md-10 col-md-offset-1" id="sqad-box">
    <div class="page-title" id="show-squad-title" style="background:<%=@warrior.color%>;"><h1><%= @warrior.name %></h1></div>


<div class="col-md-12">
<%= link_to 'Edit', edit_warrior_path(@warrior) %> |
</div>

