

<section class="form-section">

    <%= render 'layouts/header' %>

    <h2 class="form-title col-xs-12 col-sm-12 col-md-8 col-md-offset-2">Create Squad & Squad Members</h2>

    <%= render 'form' %>

</section>



