
/*Header*/

#top-bar {
  background-color: transparent;
  border: none;
  margin: auto 1vw 0 1vw;
  padding-bottom: 0;
}

/*#navbar-collapse {
  background-color: transparent;
}*/

#logo img {
  border: none;
  margin-top: 1vh;

}
