

<footer>
   <div class="container-fluid">
    <p class="text-center text-muted">© Copyright 2016 Advotar</p>
    <p class="text-center text-muted">Artwork by Alexandro Segade</p>
  </div>
</footer>
