<!DOCTYPE html>
<html>

<head>
  <title>Advotar</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true, debug: false %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- <link href='https://fonts.googleapis.com/css?family=Bangers|Oswald|Alegreya+Sans+SC:400,900italic,900,800italic,800,700italic|Roboto|Molengo' rel='stylesheet' type='text/css'> -->
<!--     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<body>
    <%= yield %>


    <footer>
       <div class="container-fluid">
        <p class="text-center text-muted">© Copyright 2016 Advotar</p>
        <p class="text-center text-muted">Artwork by Alexandro Segade</p>
      </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</body>

</html>
