<p id="notice"><%= notice %></p>

<div id = "index-main">

  <div class = "jumbotron">
      <h1>Advotar</h1>
      <h4>Organization Tool for Special Needs Parents</h3>
      <h3>Navigating the Labrynth Just Got Easier</h3>
      <h3>Your Ally in the Labrynth</h3>
      <input class="btn" id="login-button">Login with Google</input>
  </div>


</div>


